.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: start;
}

.dashboard-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: var(--font-weight-semibold);
}
.dashboard-title h2 {
  margin: 0;
  font-size: 24px;
  color: var(--secondary-100);
}
.dashboard-title p {
  margin: 0;
  font-size: 12px;
  color: var(--grey-70);
}
