@media screen and (width >= 1400px) {
}

@media screen and (width <= 1200px) {
}

@media screen and (width <= 1000px) {
	.header-actions {
		.search-bar {
			display: none;
		}
	}

	.header {
		.header-actions {
			flex: 0 1 17.5rem;
		}
	}

	/* Sidebar */
	.sidebar {
		width: 4rem;
		padding: 0;
		border-radius: 1rem;
		align-items: center;
	}

	.link-logotype {
		margin-top: 1rem;
		& span {
			display: none;
		}
	}
	.nav-links {
		& span {
			display: none;
		}

		& .nav-item {
			justify-content: center;
		}

		& .nav-item.active .nav-icon {
			background-color: var(--primary-active);
			border-radius: 50%;
			color: white;
			padding: 0.4rem;
		}
	}
	.sidebar-footer {
		& span {
			display: none;
		}

		& .signout-button {
			padding: 0 1rem;
		}
	}
}

@media screen and (width <= 800px) {
	/* auth */

	/* Header */
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		white-space: nowrap;

		& .profile-section {
			.profile-info {
				display: none;
			}
		}

		.header-actions {
			flex: 0 1 9rem;
		}

		& .header-title {
			padding-right: 0;
		}
	}

	/* Footer */
	.footer {
		flex-direction: column;
	}
}

@media screen and (width <= 500px) {
	.portal-layout {
		column-gap: 0;
	}

	/* Header */
	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--blue-light);

		& .header-logo {
			display: flex;
			align-items: center;
		}

		& .header-logo img {
			width: 1.4rem;
			height: auto;
		}

		& .header-actions-left {
			display: none;
		}

		.header-actions {
			flex: 0 1 3rem;
		}

		& .header-title {
			flex: 1;
			padding-left: 3rem;
			text-align: center;
		}
		& .header-title h2 {
			font-size: 1rem;
		}
		/* when breadcrumb is set, we can unhide and style this */
		& .header-title p {
			display: none;
		}

		/* maybe we should show profile pic ?*/
		& .profile-section .profile-pic {
			display: flex;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	.hamburger {
		display: flex;
		right: 1rem;
		background: none;
		border: none;
		color: var(--grey-100);
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	/* Sidebar */
	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 16rem;
		padding: 1rem 1rem;
		align-items: start;
		box-shadow: -2px 0 16px rgba(0, 0, 0, 0.08);
		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 12;
	}
	.sidebar.show-sidebar {
		transform: translateX(0);
	}
	.sidebar-overlay {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.2);
		z-index: 1;
		display: block;
	}

	.link-logotype {
		& span {
			display: flex;
		}
	}
	.nav-links {
		& span {
			display: flex;
		}

		& .nav-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-right: 4.63rem;
			width: 100%;
		}

		& .nav-item.active .nav-icon {
			background-color: var(--sidebar-background);
			border-radius: 0;
			color: var(--primary-active);
			padding: 0;
		}

		&:hover .nav-item.active .nav-icon {
			background-color: transparent;
		}
	}

	.sidebar-footer {
		& span {
			display: block;
			align-items: center;
			justify-content: center;
		}
		& .signout-button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 4rem;
			white-space: nowrap;
		}
	}
}
