/* Desktop larger */
@media screen and (width >= 1301px) {
	
	/* Inbox-main */
	.inbox-main-content {
		display: flex;

		& .inbox-left {
			border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius) !important;
			/*min-width: 30rem !important;*/
		}

		& .inbox-right {
			border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0 !important;
		}
	}
}
/* Desktop */
@media screen and (width <= 1300px) {
	.header {
		& .search-bar {
			width: min(100%, 30rem);
			min-width: 10rem;
			max-width: 30rem;
		}
	}
	
	/* Inbox-layout */
	.inbox-layout .inbox-right {
		display: none !important;
	}
	.inbox-layout.show-detail .inbox-left {
		display: none !important;
	}
	.inbox-layout.show-detail .inbox-right {
		display: block !important;
		width: 100%;
	}

	/* Inbox-main */
	.inbox-main-content {
		
		& .inbox-header-container {
			border-radius: var(--border-radius) !important;
		}

		& .inbox-detail-container {
			padding: 0.75rem !important;
			border-radius: var(--border-radius) !important;
		}
	}

	/* InboxDetail */
	.inbox-detail {
		padding: 0.75rem !important;
	}
}


/* Tablet */
@media screen and (width <= 1000px) {
	/* auth */
	
	/* Header */
	.header {
		.header-actions {
			.search-bar {
				display: none;
			}
		}

		.header-actions {
			flex: 0 1 17.5rem;
		}
	}

	/* Sidebar */
	.sidebar {
		width: 4rem;
		padding: 0;
		border-radius: 1rem;
		align-items: center;
	}

	.link-logotype {
		margin-top: 1rem;

		& span {
			display: none;
		}
	}

	.nav-links {
		& span {
			display: none;
		}

		& .nav-item {
			justify-content: center;
		}

		& .nav-item.active .nav-icon {
			background-color: var(--primary-active);
			border-radius: 50%;
			color: white;
			padding: 0.4rem;
		}
	}

	.sidebar-footer {
		& span {
			display: none;
		}

		& .signout-button {
			padding: 0 1rem;
		}
	}
	
}

/*tablet*/
@media screen and (width <= 799px) {
	/* auth */
	
	/* Header */
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		white-space: nowrap;

		& .profile-section {
			.profile-info {
				display: none;
			}
		}

		.header-actions {
			flex: 0 1 9rem;
		}

		& .header-title {
			padding-right: 0;
		}
	}
	

	/*.inbox-sidebar {*/
	/* hide sidebar & show as a modal, when toggle hamburger-menu */
	.inbox-sidebar {
		display: none !important;
	}
	
	.sidebar-modal-backdrop {
		position: fixed;
		z-index: 1000;
		inset: 0;
		background: rgba(0,0,0,0.12);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.sidebar-modal {
		margin: 9rem 8rem auto;
		animation: sidebarIn 0.2s;
	}
	@keyframes sidebarIn {
		from { opacity: 0; transform: translateY(-16px);}
		to   { opacity: 1; transform: translateY(0);}
	}

	.inbox-header {
		& .inbox-hamburger {
			display: flex !important;
			background: var(--card-background);
			border-radius: 50%;
			padding: 0.5rem;
			align-items: center;
			justify-content: center;
			border: none;
			color: var(--grey-100);
			cursor: pointer;

			& img {
				width: 1.3rem;
			}
		}
	}
	
	
	/* Footer */
	.footer {
		flex-direction: column;
	}

}

/*mobile*/
@media screen and (width <= 550px) {
	
	.portal-layout {
		column-gap: 0;
	}
	
	/* no padding on main on mobile */
	.show-detail main {
		padding: 0 !important; 
	}
	main {
		padding: 1rem !important;
	}

	/* Header */
	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--blue-light);
		padding: 0.6rem;

		& .header-logo {
			display: flex;
			align-items: center;
		}

		& .header-logo img {
			width: 1.5rem;
			height: auto;
		}

		& .header-actions-left {
			display: none;
		}

		.header-actions {
			flex: 0 1 3rem;
		}

		& .header-title {
			flex: 1;
			padding-left: 3rem;
			text-align: center;
			
			& .breadcrumb {
				display: none !important;
			}
		}

		& .header-title h2 {
			font-size: 1rem;
		}

		/* when breadcrumb is set, we can unhide and style this */

		& .header-title p {
			display: none;
		}

		/* maybe we should show profile pic on mobile? */
		& .profile-section .profile-pic {
			display: flex;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	.hamburger {
		display: flex;
		right: 1rem;
		background: none;
		border: none;
		color: var(--grey-100);
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	/* Sidebar */
	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 16rem;
		padding: 1rem 1rem;
		align-items: start;
		box-shadow: -2px 0 16px rgba(0, 0, 0, 0.08);
		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 12;
	}

	.sidebar.show-sidebar {
		transform: translateX(0);
	}

	.sidebar-overlay {
		position: fixed;
		inset: 0;
		background: var(--overlay-modals);
		z-index: 1;
		display: block;
	}

	.link-logotype {
		& span {
			display: flex;
		}
	}

	.nav-links {
		& span {
			display: flex;
		}

		& .nav-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-right: 4.63rem;
			width: 100%;
		}

		& .nav-item.active .nav-icon {
			background-color: var(--sidebar-background);
			border-radius: 0;
			color: var(--primary-active);
			padding: 0;
		}

		&:hover .nav-item.active .nav-icon {
			background-color: transparent;
		}
	}

	.sidebar-footer {
		& span {
			display: block;
			align-items: center;
			justify-content: center;
		}

		& .signout-button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 4rem;
			white-space: nowrap;
		}
	}

	/* Inbox-layout */
	.inbox-sidebar {
		display: none !important;
	}
	.sidebar-modal {
		margin: 5.5rem 1rem auto;
	}
	
	.inbox-main-content {
		padding: 0 !important;
		
		& .inbox-left {
			min-width: 20rem !important;
		}
	
		& .inbox-right {
			display: none !important;
			padding: 0 !important;
			
			min-width: 20rem !important;
		}
	
		& .inbox-header-container {
			padding: 0 !important;
		}
	
		& .inbox-list-container {
			padding: 0.75rem !important;
			border-radius: var(--border-radius) !important;
			
		}
	
		& .inbox-detail-container {
			padding: 0 !important;
		} 
	}

	/* InboxHeader */
	.inbox-header {
		padding: 0 0 1rem 0 !important;
		border-radius: 0 !important;
	
		& .inbox-header-btn--filter {
			display: none !important;
		}
	}

	/* InboxList */
	.inbox-list {
		
		& .inbox-list-sender {
			font-size: 0.75rem;
		}
	
		& .inbox-list-type {
			font-size: 0.65rem;
			margin-left: 0;
		}
	
		& .inbox-list-time {
			font-size: 0.75rem;
		}
	
		& .inbox-list-subject {
			font-size: 0.88rem;
			overflow: hidden;
		}
	
		& .inbox-list-preview {
			font-size: 0.72rem;
		}
	}
	
	/* InboxDetail */
	.inbox-detail {
		padding: 1rem !important;
	}
}

