/* Tablet och Mobil (≤ 1024px) */
@media (max-width: 1024px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }

  .portal-layout {
    grid-template-columns: 80px 1fr;
    column-gap: 1rem;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: var(--grey-20);
    z-index: 1000;
    transition: left 0.3s ease;
    padding: 1rem;
    align-items: center;
  }

  .sidebar.show-sidebar {
    left: 0;
  }

  .close-sidebar {
    display: block;
    all: unset;
    font-size: 24px;
    padding: 16px;
    cursor: pointer;
    align-self: flex-end;
  }

  .nav-links {
    gap: 1rem;
  }

  .portal-layout:not(.overlay-active) .nav-item span {
    display: none;
  }

  .header-actions input {
    width: 180px;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    color: var(--blue);
    font-size: 24px;
    cursor: pointer;
  }
}

/* Mobil (≤ 768px) */
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .portal-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
    padding: 0.5rem;
  }

  header,
  footer {
    border-radius: 0;
    padding: 0 1rem;
  }

  .header-actions {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .header-actions input {
    width: 100%;
  }

  .dashboard-title h2 {
    font-size: 20px;
  }

  .dashboard-title p {
    font-size: 10px;
  }
}

/* Overlay-bakgrund */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
  display: none;
}

.sidebar-overlay.show {
  display: block;
}


/* Gäller från ≤ 1024px och nedåt */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100vh;
  background-color: var(--grey-20);
  z-index: 1000;
  transition: left 0.3s ease;
  padding: 1rem;
  flex-direction: column;
  display: flex;
}

.sidebar.show-sidebar {
  left: 0;
  overflow-y: auto;
}

@media (min-width: 1025px) {
  .sidebar {
    position: static;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    background-color: var(--grey-20);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  }
}
