@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-standard: "Inter", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius: 16px;

  /* Blå */
  --blue: #37437d;
  --blue-light: #eeefff;
  --secondary-110: #1c2346;
  --secondary-100: #37437d;
  --secondary-90: #5562a2;
  --secondary-70: #707dbf;
  --secondary-60: #abb4dd;
  --secondary-50: #0d3af9;

  /* Rosa */
  --pink: #f26cf9;
  --pink-light: #fcd3fe;
  --pink-transparent: #fde3fe;
  --pink-superlight: #fdedfe;
  --primary-100: #f28cf9;
  --primary-90: #f589fa;
  --primary-50: #fcd3fe;
  --primary-40: #fde3fe;
  --primary-30: #fdedfe;

  /* Gul */
  --yellow-100: #ffca39;
  --yellow-90: #fffec3;

  /* Grå */
  --grey-10: #ffffff;
  --grey-20: #f7f7f7;
  --grey-30: #ededed;
  --grey-40: #e0e0e1;
  --grey-50: #c3c3c4;
  --grey-60: #9f9fa1;
  --grey-70: #777779;
  --grey-80: #636365;
  --grey-90: #434345;
  --grey-100: #1e1e20;

  /* Cool Greys */
  --cool-grey-10: #eeefff;
  --cool-grey-20: #e4e5f5;
  --cool-grey-30: #dddeed;
  --cool-grey-40: #d1d2e0;
  --cool-grey-50: #b0b1bd;
  --cool-grey-60: #8f8f99;
  --cool-grey-70: #72737a;
  --cool-grey-80: #56565c;
  --cool-grey-90: #39393d;
  --cool-grey-100: #131314;

  /* färdiga klasser??  */
  --dashboard-header-color-dark: var(--grey-100);
  --dashboard-header-color-blue: var(--blue);

  --dropdown-text-color: var(--blue);
  --dropdown-background-color: var(--blue-light);

  --event-background-color: var(--grey-10);
  --event-header-color: var(--grey-100);
  --event-text-color: var(--grey-80);

  --graph-color-blue: var(--pink);
  --graph-color-pink: var(--blue);
  --graph-background-color-light: var(--blue-light);
  --graph-background-color-dark: var(--grey-90);

  --searchbar-background-color: var(--grey-10);
  --searchbar-text-color: var(--grey-60);

  --settings-background-color: var(--blue);
  --settings-logo-color: var(--grey-10);

  --notification-background-color: var(--blue);
  --notification-logo-color: var(--grey-10);
  --notification-detail-color: var(--pink);
}

/* Headings */
.h1-semibold {
  font-size: 32px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.h1-bold {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.h2-semibold {
  font-size: 28px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.h2-bold {
  font-size: 28px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.h3-semibold {
  font-size: 26px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.h3-bold {
  font-size: 26px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.h4-semibold {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.h4-bold {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.h5-semibold {
  font-size: 22px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.h5-bold {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.h6-semibold {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.h6-bold {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

/* Titles */
.title-18-medium {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.title-18-semibold {
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.title-18-bold {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.title-16-regular {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.title-16-medium {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.title-16-semibold {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.title-16-bold {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.title-14-regular {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.title-14-medium {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.title-14-semibold {
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.title-14-bold {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.title-12-regular {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.title-12-medium {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.title-12-semibold {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.title-12-bold {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.title-10-regular {
  font-size: 10px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.title-10-medium {
  font-size: 10px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.title-10-semibold {
  font-size: 10px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.title-10-bold {
  font-size: 10px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

/* Body */
.body-16-regular {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.body-16-medium {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.body-16-semibold {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.body-16-bold {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.body-14-regular {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.body-14-medium {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.body-14-semibold {
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.body-14-bold {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

.body-12-regular {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-standard);
}
.body-12-medium {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.body-12-semibold {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.body-12-bold {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-standard);
}

/* buttons */
.btn-14-medium {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.btn-14-semibold {
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.btn-12-medium {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.btn-12-semibold {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}
.btn-10-medium {
  font-size: 10px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-standard);
}
.btn-10-semibold {
  font-size: 10px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-standard);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

.auth-layout {
}

.portal-layout {
}
